<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <div id="search" class="col-md-12 pb-3">
      <h1 id="stitle">Make your next step.</h1>
      <div class="form-row">
        <div id="searchForm"class="row  col-md-6">

        <form [formGroup]="form"  class="col-md-12" >
          <h2 id="you">Find the property <span class="need">you</span> need!</h2>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="need">Type</label>
              <select class="form-control custom-select" formControlName="btype" (change)="changeMode()">
                <option value="null"></option>
                <option value="apartment">Residence</option>
                <option value="shop">Commercial</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">State</label>
              <select class="form-control custom-select" formControlName="state" [(ngModel)]="selected" (change)="citiesSelect(selected)" >
                <option value="null"></option>
                <option *ngFor="let item of states" [value]="item.state">{{item.state}}</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="selected!=='null'">
              <label class="need">Location</label>
              <select class="form-control custom-select" formControlName="location" [(value)]="selectedL" (selectionChange)="locationSelect(selectedL)" >
                <option  value="null"></option>
                <option *ngFor="let item of flocations" [value]="item.location">{{item.location}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">Type</label>
              <select class="form-control custom-select" formControlName="adtype" >
                <option value="null"></option>
                <option value="sell">sell</option>
                <option value="rent">rent</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="need"for="inputZip">Min price</label>
              <input type="text" class="form-control color" formControlName="minprice">
            </div>
            <div class="form-group col-md-3">
              <label class="need"for="inputZip">Max price</label>
              <input type="text" class="form-control color" formControlName="maxprice">
            </div>
            <div class="form-group col-md-6" *ngIf="mode==='apartment'" >
              <label class="need">Bedrooms</label>
              <select class="form-control custom-select" formControlName="bednum" >
                <option value="null"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="mode==='apartment'" >
              <label class="need" >Bathrooms</label>
              <select class="form-control custom-select" formControlName="bathnum" >
                <option value="null"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
              </select>
            </div>
          </div>
          <button id="submit"type="button" class="btn btn-dark mb-2"(click)="redirect(form.value)">Search</button>

        </form>
      </div>
      </div>
    </div>
    <div id="marketing" href="services">
      <div class="container">
          <div class="row ">
            <div  class="col-md-4">
              <span class="material-icons">
                house
                </span>
              <h1 id=""><b>Find your next House!</b></h1>
              Select the advanced search filters according to the criteria you want to display the results that meet your needs.
            </div>
            <div  class="col-md-4">
              <span class="material-icons">
                store
                </span>
              <h1 id=""><b>Find your next store!</b></h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div  class="col-md-4">
              <span class="material-icons">
                location_on
                </span>
              <h1 id=""><b>See the property on Map!</b></h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div  class="col-md-4">
            </div>
            <div  class="col-md-4 mt-5">
              <span class="material-icons">
                sentiment_satisfied_alt
                </span>
              <h1 id=""><b>We will be there for you!</b></h1>
              Send us your information and we will contact <span class="need"><b>you</b></span> as soon as possible!!
            </div>
            <div  class="col-md-4">

          </div>

        </div>


    </div>
  </div>
    <div id="topads" class="col-md-12 container mb-5">


        <div class="container">
          <h1 id="stars">Our stars</h1>
          <div class="row ">
            <div [routerLink]="['/show',stars[i].post_id]" class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let star of stars;let i=index">
              <div class="card" [routerLink]="['/show',stars[i].post_id]">

                <img class="card-img-top" [src]="stars[i].photoname" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{stars[i].state}}>{{stars[i].location}}</h5>
                  <p class="card-text"><b>{{stars[i].title}}</b><span id="star_icon" class="material-icons">
                    stars
                    </span></p>
                  <p class="card-text">{{stars[i].price}}€ | {{stars[i].area}}sqm <span *ngIf="stars[i].btype=='apartment'"> | {{stars[i].bednum}} bedrooms</span> </p>
                  <button id="CardSubmit" class="card-link" type="button"[routerLink]="['/ads/show',stars[i].post_id]" class="btn-dark btn">See More</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div id="services" class="col-md-12 pt-0">
      <!-- <h1 id="checkout"class="pt-0">Check out our Map!</h1> -->

            <div id="map" ></div>

</div>
<div id="suggested" class="row">
  <h1 class="col-md-12">Find Real Estate Listings By State/City</h1>
  <div *ngFor="let state of states" class="col-md-3 pt-2">
   <b id="state" [routerLink]="['/search']" [queryParams]="{state:state.state}">{{state.state}}</b>
    <div *ngFor="let location of locations">
      <a id="links" *ngIf="state.id===location.id" [routerLink]="['/search']" [queryParams]="{state:state.state,location:location.location}">{{location.location}}</a>
    </div>
  </div>
</div>


