

#you{
  padding-left:23%;
  font-size:30px;
}
#search{
  color:white;
  padding-top:70px;
    height:700px;
  background-image:url(/assets/image.jpg);
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}
#searchForm{
  margin-left:25%
}
#stitle{
  font-size: 65px;
  font-family:Noto Sans, sans-serif;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  margin-bottom:100px;
  margin-left:37%;
  font-size:40px;
}
.need{
  color:#F26335;
}

.card{
  background-color: #f5f5f5;
}
.card:hover{
  background-color:#ebebeb;
  cursor:pointer;
}

div .info{
  border-bottom:1px solid #e0e0e0;
}

form{
  padding-top:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  background: rgba(15,16,49,0.75);
  box-shadow: 0 3px 6px rgba(0,0,0,1);
  border-radius: 30px;
}
.custom-select{
  background-color:#0c1396;
  color:white;
  border-color: #070b61;
}

.color{
  background-color:#0c1396;
  color:white;
  border-color: #070b61;
}

#submit{
  background-color:#F26335
}
#submit:hover{
  background-color:#050742;
}

/* marketing */

#marketing{
  padding-top:30px;
  background-color: #fafafa;
}


.material-icons{
  color:#4f4f4f;
  padding-left:18%;
font-size:150px;
}

.border{
  padding-bottom:100px;
  border-color:#ededed;
  border-bottom:1px solid #323240 ;
}
/* stars */
#stars{
  margin-left:25%;
}
#topads{
  background-color: white;
  padding-top:70px;
  padding-bottom:80px;

}
.card{
  background-color: #0f1031;
  color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,1);
  border-radius: 30px;

}
img,.card{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.card:hover{
  background-color: #24266e;

}
.card-body{
  padding:10px;
}
.card-title{
  padding-top:-20px;
}
.card-text{
  padding-left:5%
}

  #CardSubmit{
    margin-left: 30%;
    background-color:#F26335
  }
  #CardSubmit:hover{
    background-color:#050742;
}

/*  */
#services{
  height:100%;
  background-color: orange;

}
google-map{
  width:50%;
}
