
    <div id="search" class="col-md-12 pb-3">
      <h1 id="stitle">Make your next step.</h1>
      <div class="form-row">
        <div id="searchForm"class="row  col-md-6">

        <form [formGroup]="form" *ngIf="!mode" class="col-md-12" >
          <h2 id="you">Find the property <span class="need">you</span> need!</h2>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="need">Type</label>
              <select class="form-control custom-select" formControlName="btype">
                <option value="null"></option>
                <option value="apartment">Residence</option>
                <option value="shop">Commercial</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">State</label>
              <select class="form-control custom-select" formControlName="state" [(ngModel)]="selected" (change)="citiesSelect(selected)" >
                <option value="null"></option>
                <option *ngFor="let item of states" [value]="item.state">{{item.state}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">Location</label>
              <select class="form-control custom-select" formControlName="location" [(value)]="selectedL" (selectionChange)="locationSelect(selectedL)">
                <option value="null"></option>
                <option *ngFor="let item of flocations" [value]="item.location">{{item.location}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">Type</label>
              <select class="form-control custom-select" formControlName="adtype" >
                <option value="null"></option>
                <option value="sell">sell</option>
                <option value="rent">rent</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="need"for="inputZip">Min price</label>
              <input type="text" class="form-control color" formControlName="minprice">
            </div>
            <div class="form-group col-md-3">
              <label class="need"for="inputZip">Max price</label>
              <input type="text" class="form-control color" formControlName="maxprice">
            </div>
            <div class="form-group col-md-6">
              <label class="need">Bednumber</label>
              <select class="form-control custom-select" formControlName="bednum" >
                <option value="null"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="need">Bathnumber</label>
              <select class="form-control custom-select" formControlName="bathnum" >
                <option value="null"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
              </select>
            </div>
          </div>
          <button id="submit"type="button" class="btn btn-dark mb-2"(click)="redirect(form.value)">Search</button>

        </form>
      </div>
      </div>
    </div>
    <div id="marketing" >
      <div class="container">
          <div class="row border">
            <div class="col-md-6">
              <div id="home"></div>
            </div>
            <div id="rightH" class="col-md-6">
              <h1 id="nextH">Find your next House!</h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
          <div class="row mt-5 border">
            <div id="rightH" class="col-md-6">
              <h1 id="nextH">We provide commercial ads too!</h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="col-md-6 pl-5 ">
              <div id="shop"></div>
            </div>
          </div>
            <div class="row mt-5 border">

              <div class="col-md-6 pl-5 ">
                <div id="support"></div>
              </div>
              <div id="rightH" class="col-md-6">
                <h1 id="nextH">We are here for you!!</h1>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </div>

          </div>
      </div>

    </div>

    <div id="topads" class="col-md-12 container mt-5 mb-5">


        <div class="container">
          <h1>Our stars</h1>
          <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let star of stars;let i=index">
              <div class="card" [routerLink]="['/show',stars[i].post_id]">
                <img class="card-img-top" [src]="stars[i].photoname" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title">{{stars[i].title}}</h5>

                  <p class="card-text">{{stars[i].state}},{{stars[i].location}}</p>

                  <button class="card-link" type="button"[routerLink]="['/ads/show',stars[i].post_id]" class="btn-dark btn">See More</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div id="services" class="col-md-12 container">

        <h1>Services</h1>

    </div>


