
  <nav class="navbar navbar-expand-lg navbar-dark primary-color col-md-12 col-sm-12">
    <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Vagpap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li>
          <a href="#marketing" ><span class="material-icons">
            extension
            </span>Services</a>
      </li>
      <li>
        <a href="#topads"><span class="material-icons">
          star
          </span>Our Stars</a>
      </li>
      <li>
        <a href="#services"><span class="material-icons">
          location_on
          </span>Our Map</a>
      </li>
      <li>
        <a href="#footer"><span class="material-icons">
          mail
          </span>Contact Us</a>
      </li>

      </ul>
   </div>

  </div>
  </nav>

