table,mat-paginator {
  width: 100%;

}
th{
  background-color: #212121;;
  color:white;
  font-size:15px;
  font-weight:500;
}
tr:nth-child(even){

  background-color: #f2f2f2;
}
tr:nth-child(odd):hover{

  background-color: #f2f2f2;
}

tr:nth-child(odd){
  background-color: #fafafa;
}
td{
  color:#454545;
  font-size:15px;

}
td:hover{
  color:#262626;

}
#create{
  margin-bottom:20px;
  background-color:white;
}
#edit{
  text-decoration: none;
  padding-left:0;
  color:black
}
#edit:hover{
  color:#6c706d
}
#edit:visited{
  color:black
}
#edit:visited:hover{
  color:#6c706d
}

.edit{
  width:10px;
  padding:0;

}
.large{
  width:200px;
  margin-left:20px;
}
.medium{
  width:100px;
  margin:20px;
}
.small{
  width:20px;
  margin:20px;
}
.type{
  width:100px;
  margin:20px;
}
