<mat-toolbar class="mat-primary" *ngIf="menu==0">
  <mat-toolbar-row >
    <span>
      <a routerLink="/">Papp</a>

    </span>

  <button  *ngIf="userIsAuthenticated"  id="menu"  mat-button [matMenuTriggerFor]="selections">Menu</button>
  <mat-menu  #selections="matMenu">
    <button mat-menu-item  [matMenuTriggerFor]="Aggelies">Ads</button>
    <button mat-menu-item routerLink="/messages" >Messages</button>
    <button mat-menu-item *ngIf="isAdmin==='1'" [matMenuTriggerFor]="Users">Agents</button>
  </mat-menu>

  <mat-menu #Aggelies='matMenu'>
    <button mat-menu-item  routerLink="/show">Manage</button>
    <button mat-menu-item routerLink="/create">Add new</button>
  </mat-menu>

  <mat-menu #Users="matMenu">
    <button mat-menu-item routerLink="/users">Manage</button>
    <button mat-menu-item routerLink="/signup">Add new</button>
  </mat-menu>
  <span class="spacer"></span>
  <ul>
  <li id="user" *ngIf="userIsAuthenticated">{{currentUser}}</li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button  routerLink="/login" >Login</a>
    </li>
    <li *ngIf="userIsAuthenticated"  >
      <a mat-button (click)="onLogout()">Logout</a>
    </li>

  </ul>

  </mat-toolbar-row>
</mat-toolbar>
<div id="wraper" *ngIf="menu==1" class="menu1">
  <mat-sidenav class="mat-sidenav-left" mode="side" opened class="example-sidenav" >
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          Papp
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-nav-list  >
            <a class="links" *ngIf="!userIsAuthenticated"mat-list-item  routerLink="/login" ><span class="material-icons">
              login
              </span>Login</a>
            <div *ngIf="userIsAuthenticated">
              <div id="current"><span class="material-icons">
                account_circle
                </span><span id="username">{{currentUser}}</span>
              </div>
                <a class="links" mat-list-item routerLink="/" routerLinkActive="active-list-item"><span class="material-icons">
                  preview
                  </span>Dashboard</a>

                <mat-expansion-panel [class.mat-elevation-z0]="true" dense >
                    <mat-expansion-panel-header class="specific-class">
                      <span class="material-icons">
                        work
                        </span><span class="pt-1">Ads</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="menu-items" dense>
                        <a mat-list-item class="list-item"routerLink="/show">Manage</a>
                        <a mat-list-item class="list-item"routerLink="/create">Add new</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <a class="links" mat-list-item routerLink="/messages" routerLinkActive="active-list-item"><span class="material-icons">
                  chat
                  </span>Messages </a>

                <mat-expansion-panel *ngIf="isAdmin==='1'" [class.mat-elevation-z0]="true" dense>
                    <mat-expansion-panel-header class="specific-class">
                      <span class="material-icons">
                        supervised_user_circle
                        </span> <span class="pt-1">Agents</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="menu-items" dense>
                        <a mat-list-item routerLink="/users">Manage</a>
                        <a mat-list-item routerLink="/signup">Add new</a>
                    </mat-nav-list>
              </mat-expansion-panel>
          </div>
          <a  class="links" *ngIf="userIsAuthenticated" mat-list-item (click)="onLogout()"><span class="material-icons">
            exit_to_app
            </span>Logout</a>
      </mat-nav-list>

  </mat-sidenav>

</div>
