#content{
  margin-bottom:50px;
}

#status{
  margin-top:10px;
  margin-left:25%
}
  .crop {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
  }
  .badge{
    background-color: #E63946;
  }
#search{
  margin-left:20px;
  font-size:15px;


}
#search select{
  padding-left:2px;
  font-size:15px;
}
#house{
  background-color:#e0ebf4;
  height:50px;
  font-size:20px;
  color:#003049;
  padding-top:10px;
}
form{
  padding:20px;
  background-color: #011338;
}
.custom-select{
  background-color:white;
  color:#011338;
  border-color: #011338;
}

.color{
  background-color:white;
  color:#011338;
  border-color: #011338;
}
.need{
  color:#E63946;
}


#submit{
  background-color:#E63946
}
#submit:hover{
  background-color:#010a1c;
}
img{
  width:100%;
  height:100%;
}

/*  */
.size{
  width:60px;
}
h4{
  color:#555;
}
.card{
  background-color: #011338;
  color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,1);
  border-radius: 30px;

}
img,.card{
  border-radius: 30px;

}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:#E63946;
  transition: 0.5s;
}
#location{
  font-size:17px;
}
#price{
  font-size: 20px;
  color:#E63946;
}
h2{
  margin:0;
}
#star_icon{
  margin-left:15px;
  color:#E63946
}
