<div>
  <form [formGroup]="form">
    <mat-radio-group formControlName="find" aria-label="Where did the customer find our ad?">
      <h2>Did he/she like the property?</h2>
      <mat-radio-button value="1">Social Media</mat-radio-button>
      <mat-radio-button value="2">Ads</mat-radio-button>
      <mat-radio-button value="3">Other ad sites</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group formControlName="like" aria-label="Where did the customer find our ad?">
      <h2>From 1 to 5 how much did he/she like our site?</h2>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
      <mat-radio-button value="4">3</mat-radio-button>
      <mat-radio-button value="4">4</mat-radio-button>
      <mat-radio-button value="5">5</mat-radio-button>


    </mat-radio-group>
    <mat-radio-group formControlName="find" aria-label="Where did the customer find our ad?">
      <h2>Where did the customer find our ad?</h2>
      <mat-radio-button value="1">Social Media</mat-radio-button>
      <mat-radio-button value="2">Ads</mat-radio-button>
      <mat-radio-button value="3">Other ad sites</mat-radio-button>
    </mat-radio-group>
  <br>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
