.row{
  margin-left:40px;
}

#welcome{
  width:100%;
  height:150px;
}
#statistics{

  width:100%;

  height:400px;


}
#user{
  font-weight: bold;
}

#styling{
  margin-top:20px;

}
button{
  margin-left:20px;
}
#custSum{
  text-decoration: none;
  color:black;
}
#custSum:hover{
  color:#6c706d
}

#rating{
  height:150px;
  margin-left:20px;

}

