#content{
  margin-left:40px;
  padding-bottom:50px;
}

#cardformat{
  width:100%;
  height:100%;
  padding:0.5px;
}
.col-md-6>li{
  padding:0;

}
#cardformat>ul>#head{
  background-color: #212121;
  color:white;
}
#cardformat>ul>li>h3{
  font-size:20px;
}
#cardformat1{
  width:100%;
  height:71%;
  padding:0.5px;
}
#cardformat1>ul>#head{
  background-color: #212121;
  color:white;
}
#cardformat2{
  width:100%;
  height:40%;
  padding:0.5px;
}
#cardformat2>ul>#head{
  background-color: #212121;
  color:white;
}
#statistics{
  width:100%;
}

#box{
  height:200px;
}
#user{
  font-weight: bold;
}

.progress{
  height:50px;
  margin-left:10px;
}
.progress-bar{
  padding:10px;
}


button{
  margin-left:20px;
}
#custSum{
  text-decoration: none;
  color:black;
}
#custSum:hover{
  color:#6c706d
}

#rating{
  padding-top:25px;
  font-size:20px;

}
#map{
  width:100%;
  height: 500px;
}
#mapContainer{
  margin-top:50px;
  margin-bottom:50px;
}
#mapHead{
  padding-top:10px;
  font-size:30px;
}

#mood_bad{
  color:red;
}
#mood_mid{
  color:orange;
}
#mood_good{
  color:green
}
.material-icons{
  vertical-align: middle;
}
.list-group-item{
  width:100%;
}
div>#cardformat>ul>.row{
  padding:10px;
  font-size:20px;
  margin:0;
  width:100%;

  border:1px solid rgba(0, 0, 0, 0.125);
}
.statTitle{
  margin-left:20px;

}
#styling{
  padding-bottom:40px;
  margin-top:20px;
}
