

<h1 *ngIf="!userIsAuthenticated">Welcome to Papp!Please Login</h1>
<div *ngIf="userIsAuthenticated">
  <div class="row" id="content">
    <div class="col-md-3 col-sm-6">
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <span class="material-icons" id="acount">
                    account_box
                    </span>
                </div>
                <div class="col-md-7">
                  <div>
                    <p>Welcome user</p>
                    <span id="user">{{currentUser}}!</span>
                  </div>
                </div>

              </div>
          </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <span class="material-icons" id="post">
                  article
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Posts</p>

                  <a id="custSum"[routerLink]="['/show']">{{myPosts}}</a>
                </div>
              </div>

            </div>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <span class="material-icons" id="messages">
                  chat
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Messages </p>
                  <a id="custSum"[routerLink]="['/messages']">{{custSum}}</a>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <span id="mood_bad"class="material-icons" *ngIf="satisfy=='bad'">
                  mood_bad
                  </span>

                  <span id="mood_mid"class="material-icons" *ngIf="satisfy=='mid'">
                    sentiment_dissatisfied
                    </span>
                <span id="mood_good"class="material-icons" *ngIf="satisfy=='good'">
                  mood
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Rating</p>
                  <span><b>{{userRating}}</b>/5
                  </span>
                  <p class="card-text"><small class="text-muted">with {{reviews}} reviews</small></p>
                </div>

                </div>
              </div>

            </div>
        </div>
      </div>


    <div class="col-md-12" id="mapContainer">
      <div class="card">
          <p><span class="material-icons">
            room
            </span>Your map </p>
          <div id="map"></div>
    </div>

    </div>

    <div class="col-md-3" id="adsRating">
      <div class="card">
        <div class="card-body">
            <div class="row" *ngFor="let statistic of statistics">
              <div class="col-md-5" >
                <span id="mood_bad"class="material-icons" *ngIf="statistic.aRating>0.01&&statistic.aRating<1.60">
                  mood_bad
                  </span>

                  <span id="mood_mid"class="material-icons" *ngIf="statistic.aRating>1.61&&statistic.aRating<3.20">
                    sentiment_dissatisfied
                    </span>
                <span id="mood_good"class="material-icons" *ngIf="statistic.aRating>3.21&&statistic.aRating<5.00">
                  mood
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Ads Rating</p>
                  <span><b>{{statistic.aRating}}</b>/5
                  </span>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
            <div class="row" *ngFor="let statistic of statistics">
              <div class="col-md-5" >
                <span id="mood_bad"class="material-icons" *ngIf="statistic.likeAdNum>0.01&&statistic.likeAdNum<1.60">
                  mood_bad
                  </span>

                  <span id="mood_mid"class="material-icons" *ngIf="statistic.likeAdNum>1.61&&statistic.likeAdNum<3.20">
                    sentiment_dissatisfied
                    </span>
                <span id="mood_good"class="material-icons" *ngIf="statistic.likeAdNum>3.21&&statistic.likeAdNum<5.00">
                  mood
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Customers Like the Site</p>
                  <span><b>{{statistic.likeAdNum}}</b>/5
                  </span>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
            <div class="row" *ngFor="let statistic of statistics">
              <div class="col-md-5" >
                <span id="mood_bad"class="material-icons" *ngIf="statistic.likeSiteNum>0.01&&statistic.likeSiteNum<1.60">
                  mood_bad
                  </span>

                  <span id="mood_mid"class="material-icons" *ngIf="statistic.likeSiteNum>1.61&&statistic.likeSiteNum<3.20">
                    sentiment_dissatisfied
                    </span>
                <span id="mood_good"class="material-icons" *ngIf="statistic.likeSiteNum>3.21&&statistic.likeSiteNum<5.00">
                  mood
                  </span>
              </div>
              <div class="col-md-7">
                <div>
                  <p>Customers Like Ad</p>
                  <span><b>{{statistic.likeSiteNum}}</b>/5
                  </span>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <div class="row" *ngFor="let statistic of statistics">
              <div class="col-md-12" >
                <p>Use our site again (<span style="color:#28a745">Yes</span>/<span style="color:#dc3545 ">No</span>):  </p>
              </div>
              <div class="col-md-12 pl-0 ">
                <div class="progress p-0 col-md-12">
                      <div [ngStyle]="{'width':statistic.useAgainY+'%'}" [attr.aria-valuenow]="statistic.useAgainY"class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{statistic.useAgainY}}%<br></div>
                      <div class="progress-bar bg-danger " [ngStyle]="{'width':statistic.useAgainN+'%'}" role="progressbar" [attr.aria-valuenow]="statistic.useAgainN" aria-valuemin="0" aria-valuemax="100">{{statistic.useAgainN}}%</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <div class="row" *ngFor="let statistic of statistics">
              <div class="col-md-12" >
                <p class="">
                  Ad seen at (<span style="color:#007bff">Social Media</span>/<span style="color:#ffc107 ">ads</span>/<span style="color:#17a2b8">other</span>): </p>
              </div>
              <div class="col-md-12">
                  <div class="progress p-0  col-md-12">
                    <div [ngStyle]="{'width':statistic.social+'%'}" [attr.aria-valuenow]="statistic.social"class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{statistic.social}}%</div>
                    <div class="progress-bar bg-warning " [ngStyle]="{'width':statistic.ads+'%'}" role="progressbar" [attr.aria-valuenow]="statistic.ads" aria-valuemin="0" aria-valuemax="100">{{statistic.ads}}%</div>
                    <div class="progress-bar bg-info " [ngStyle]="{'width':statistic.other+'%'}" role="progressbar" [attr.aria-valuenow]="statistic.other" aria-valuemin="0" aria-valuemax="100">{{statistic.other}}%</div>
                  </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col-md-5">

                <span class="material-icons">
                  brush
                  </span>
              </div>
              <div class="col-md-7">
                <p>Styling</p>
                <div>

                    <form [formGroup]="form" (submit)="onSaveMenu()" enctype="multipart/form-data">
                      <mat-form-field>

                        <mat-label>Menu Position</mat-label>
                        <mat-select formControlName="menup">
                          <mat-option value="0">top-menu</mat-option>
                          <mat-option value="1">Sidenav</mat-option>

                        </mat-select>
                      </mat-form-field>
                      <button mat-raised-button type="submit" color="primary">Save</button>
                  </form>

                </div>
              </div>

            </div>
        </div>
      </div>

  </div>
  </div>

</div>




