<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

  <button id="create"  mat-stroked-button routerLink="/create" type="button" >Add new Post</button>
  <br>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. shop" #input>
  </mat-form-field>


<table mat-table  [dataSource]="dataSource" class="mat-elevation-z8" >
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="small"> Edit </th>
  <td mat-cell *matCellDef="let element" ><span class="material-icons"><a id="edit"*ngIf="privileges==='1'||element.user_id===userId"  [routerLink]="['/edit',element.post_id]">edit</a> </span><br>
</td>

  </ng-container>
  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef > id. </th>
    <td mat-cell *matCellDef="let element" class="small"> {{element.post_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Title" >
    <th mat-header-cell *matHeaderCellDef >  Title </th>
    <td mat-cell *matCellDef="let element" class="large"> {{element.title}}</td>
  </ng-container>

  <ng-container matColumnDef="addedBy" >
    <th mat-header-cell *matHeaderCellDef >  addedBy </th>
    <td mat-cell *matCellDef="let element" class="small"> {{element.user_id}}</td>
  </ng-container>


  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="type"> Type</th>
    <td mat-cell *matCellDef="let element"> {{element.btype}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="DateAdded" >
    <th mat-header-cell *matHeaderCellDef class="dateadded"> DateAdded </th>
    <td mat-cell *matCellDef="let element" class="medium" > {{element.dateAdded}} </td>
  </ng-container>
  <ng-container matColumnDef="Time">
    <th mat-header-cell *matHeaderCellDef class="dateadded"> Time</th>
    <td mat-cell *matCellDef="let element" class="medium"> {{element.time}}</td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef class="edit"> Actions </th>
    <td mat-cell *matCellDef="let element"> <span class="material-icons" *ngIf="privileges==='1'||element.user_id===userId"mat-button color='primary' >
      <a id="edit" (click)="openDialog(element.id)"> delete</a>
       </span> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<!-- </div> -->




