<h2 *ngIf="mode=='create'">Create new User</h2>
<h2 *ngIf="mode=='edit'">Edit User</h2>
<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveUser()"*ngIf="!isLoading">
    <p *ngIf="error">Error:{{error}}</p>
    <mat-form-field>
      <input matInput name="username" placeholder="Username" formControlName="username"  >
      <mat-error *ngIf="form.get('username').invalid">Please enter a username.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="mode=='create'">
      <input type="password" name="password"  matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Choose privileges</mat-label>
      <mat-select formControlName="privileges">
        <mat-option value="1">Admin</mat-option>
        <mat-option value="2">Agent</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading&&mode=='create'">Signup</button>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading&&mode=='edit'">Submit</button>
  </form>
</mat-card>

