.login{
  margin-left:20%
}
#form{
  margin-left:5%;
}
#title{
  width:500px;
  background-color:white;
  margin-left:2%;
  padding:0;
  padding-left:10%;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom:50px;
}
h1{

  font-size:40px;
  font-weight: 500;
}
h2{
  margin-left:30%;
  font-size:25px;
}
#error{
  color:#f53131;
  margin-left:20%;
  margin-top:50px;
  font-size:20px;
}

/* form button{
  background-color: black;
  color:white
} */


mat-card {
  width:45%;
  padding-left:13%;
}
mat-form-field{
  width:70%
}

mat-spinner {
  margin: auto;
}
