
#stitle{
  background-color: #F26335;
  margin-bottom: 0;
  color:#0f1031;
}
#status{
  margin-top:10px;
  margin-left:25%
}
  .crop {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
  }
  .badge{
    background-color: #00deb6;
  }
#search{
  margin-left:20px;
  font-size:15px;

}
#search select{
  padding-left:2px;
  font-size:15px;
}
#house{
  background-color:#e0ebf4;
  height:50px;
  font-size:20px;
  color:#0f1031;
  padding-top:10px;
}
form{
  padding-top:20px;
  padding-right:40px;
  padding-left:35px;
  background-color: #0f1031;
}
.custom-select{
  background-color:#0c1396;
  color:white;
  border-color: #070b61;
}

.color{
  background-color:#0c1396;
  color:white;
  border-color: #070b61;
}
.need{
  color:#F26335;
}


#submit{
  background-color:#F26335
}
#submit:hover{
  background-color:#050742;
}
img{
  width:100%;
  height:100%;
}

/*  */
.size{
  width:60px;
}
h4{
  color:#555;
}

a{
  text-decoration: none;
  color:#111111;
}
a:hover{
  color:#3bb9bf;
  transition: 0.5s;
}
#location{
  font-size:17px;
}
#price{
  font-size: 20px;
  color:#F26335;
}
h2{
  margin:0;
}
