
#status{
  margin-top:10px;
  margin-left:25%
}
  .crop {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
  }
  .badge{
    background-color: #00deb6;
  }
#search{
  margin-left:20px;
  font-size:15px;

}
#search select{
  padding-left:2px;
  font-size:15px;
}
#house{
  background-color:#e0ebf4;
  height:50px;
  font-size:20px;
  color:#337ab7;
  padding-top:10px;
}
form{
  padding-right:40px;
}
#formHouse{
  background-color: #e0ebf4;
  color:#337ab7;
}

#commercial{
  background-color: #6ecc8f;
  color:#06782f;
  font-size:20px;
  padding-top:10px;
}
#formCom{
  background-color: #6ecc8f;
  color:#06782f;
}
img{
  width:100%;
  height:100%;
}

/*  */
.size{
  width:60px;
}
h4{
  color:#555;
}

a{
  text-decoration: none;
  color:#111111;
}
a:hover{
  color:#3bb9bf;
  transition: 0.5s;
}
#location{
  font-size:17px;
}
#price{
  font-size: 20px;
  color:#3bb9bf;
}
h2{
  margin:0;
}
