
  <footer>
    <div id="footer" class="col-md-12 row">

      <h1>Vagpap Real Estate Agency</h1>
        <div class="col-md-12" id="info">

            <h2>Contact Us</h2>
            <div>
              <p>
            <span class="material-icons">call</span>
            +30 2100000000</p>
            </div>
              <br>
              <div>
                <p>
                <span class="material-icons">mail</span>
                it214172@hua.gr</p>
                </div>
              <br>

              <div>
                <span class="material-icons">business</span>
                Ομήρου 9, Ταύρος Αττικής 177 78</div>
                <br>
                All rights reserved
        </div>

    </div>
  </footer>

