footer{

  clear: both;
  position: relative;
  bottom:0;
  height: 200px;
  color:white;
  background-color: #0f1031;
  padding-bottom:300px;
}
h1{
  padding-top:10px;
  font-size:50px;
  padding-left:30%;
  color:#F26335;
}
.material-icons{
  vertical-align: middle;
}
#info{
  padding-left:40%;
}
