form{
  padding:15px;
  margin-top:20px;
  border: 2px solid #e3e3e3;
  background-color: #f8f7f6;
  width:50%;
}
mat-form-field ,#image,button{
  margin-left:30px;
  margin-top: 5px;
  margin-right:70px;
}
#delete{
  background-color: red;
  color:white
}
#ddelete{
  background-color: green;
  color:white
}
input[type="file"]{
  visibility:hidden;
}

.image-preview{

  height:300px;
  width:300px;
  margin:1rem 0;
}

.image-preview img{
  width:100%;
}

#images{
  margin-top:20px;
  border:2px solid #e3e3e3;
  background-color:white;
}

#toolbar{
  margin-top:20px;
  width:50%;
  background-color:white;
  border:2px solid #e3e3e3;
}
mat-tab button{
  margin-top:20px;
}

#save{
  background-color:#ff6f00;
  color:white;
}

.selected{
  border:2px solid blue;
}
#desc{
  width:75%;
}
#price,#area{
  width:30%;
}
mat-checkbox{
  margin-left:30px;
  margin-bottom: 10px;
}

